.column-place {
  width: 400px;
  min-width: 400px;
  margin-top: 20px;
}

.column-header {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.droppable-col {
  width: 100%;
  background-color: rgba(1, 1, 1, 0.1);
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
