.column-place {
  width: 500px;
  min-width: 200px;
  margin-top: 10px;
  margin-right: 10px;
}

.column-header {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.droppable-col {
  width: 100%;
  border: 1px solid slateblue;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  color: slateblue;
}

.add-button {
  height: 30px;
  width: 30px;
}
