.comment {
  margin: 10px 0;
  background-color: lightgray;
  color: slateblue;
  /* border: 1px solid white; */
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

.new-comment {
  margin: 10px 0;
  background-color: lightgray;
  color: slateblue;
  /* border: 1px solid white; */
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.text-comment {
  margin-top: 10px;
}

.footer {
  margin-top: 10px;
}

button {
  margin-right: 10px;
}
