.card {
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 7px;
  display: flex;
}

.card.dragging {
  background-color: darkgrey;
}

.card-priority-0 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-1 {
  background-color: green;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-2 {
  background-color: yellow;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-3 {
  background-color: red;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}

.card-content {
  width: calc(100% - 7px);
  padding: 5px;
  color: slateblue;
}

.card-description {
  height: 2em;
  line-height: 1em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dates {
  display: flex;
  justify-content: space-between;
}
