.content-detail {
  /* height: calc(100% - 80px); */
  margin: 50px;
}

.card {
  height: 150px;
  margin-bottom: 10px;
  background-color: lightgray;
  color: slateblue;
  /* border: 1px solid white; */
  border-radius: 7px;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.card-priority-0 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-1 {
  background-color: green;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-2 {
  background-color: yellow;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-priority-3 {
  background-color: red;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 7px;
}

.card-content {
  margin-left: 10px;
  width: calc(100% - 7px);
  padding: 10px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-header {
  font-size: x-large;
}

.card-description {
  height: 2em;
  line-height: 1em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dates {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.owner {
  font-size: 15px;
}
