.boards-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

.board-item {
  margin: 20px;
  width: 300px;
  height: 150px;
  background-color: lightgray;
  color: white;
  border: 1px solid slateblue;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-item:focus {
  outline: none;
  border: 2px solid slateblue;
  border-radius: 7px;
  background-color: darkgrey;
}

.title {
  font-size: xx-large;
  color: slateblue;
}

ul {
  display: flex;
}

li {
  margin-right: 20px;
}

.add {
  background-color: slateblue;
  border: 0px hidden;
  border-radius: 2px;
  height: 40px;
  font-size: xx-large;
  color: white;
  outline: none;
  cursor: pointer;
}
